In [1]:
# import dependencies
import pandas as pd

In [2]:
# Import base Fe dataset
compounds_df = pd.read_csv('Resources/Cr_coumpounds_dataframe.csv', index_col=0)
compounds_df.head()

,mp_id,Formula,Composition,IPF,Density,Elastic_Tensor,E_above_Hull,G_VRH,K_VRH,Elastic_Anisotropy,poisson_ratio,Y_Modulus
0,mp-1007923,CrNi3,"{'Cr': 1.0, 'Ni': 3.0}",0.195062,8.618942,"{'G_Reuss': 97.0, 'G_VRH': 105.0, 'G_Voigt': 1...",0.269450,105,222,0.82,0.29,270.90
1,mp-12083,CrIr3,"{'Cr': 1.0, 'Ir': 3.0}",0.162656,18.648439,"{'G_Reuss': 208.0, 'G_VRH': 214.0, 'G_Voigt': ...",0.000000,214,307,0.28,0.22,522.16
2,mp-12585,CrRh3,"{'Cr': 1.0, 'Rh': 3.0}",0.157080,10.845463,"{'G_Reuss': 146.0, 'G_VRH': 151.0, 'G_Voigt': ...",0.000000,151,230,0.38,0.23,371.46
3,mp-1425,TiCr2,"{'Ti': 1.0, 'Cr': 2.0}",0.236119,6.237410,"{'G_Reuss': 75.0, 'G_VRH': 75.0, 'G_Voigt': 75...",0.076833,75,199,0.03,0.33,199.50
4,mp-15617,Cr5B3,"{'Cr': 5.0, 'B': 3.0}",0.247747,6.587366,"{'G_Reuss': 195.0, 'G_VRH': 196.0, 'G_Voigt': ...",0.000000,196,291,0.03,0.23,482.16

In [3]:
# Extract composition column to be cleaned
composition_list = compounds_df["Composition"]
composition_list

0                          {'Cr': 1.0, 'Ni': 3.0}
1                          {'Cr': 1.0, 'Ir': 3.0}
2                          {'Cr': 1.0, 'Rh': 3.0}
3                          {'Ti': 1.0, 'Cr': 2.0}
4                           {'Cr': 5.0, 'B': 3.0}
                         ...
89     {'K': 2.0, 'Na': 1.0, 'Cr': 1.0, 'F': 6.0}
90    {'Ho': 1.0, 'Cr': 2.0, 'Si': 2.0, 'C': 1.0}
91    {'Sr': 2.0, 'Ta': 1.0, 'Cr': 1.0, 'O': 6.0}
92     {'K': 1.0, 'Rb': 2.0, 'Cr': 1.0, 'F': 6.0}
93    {'Rb': 2.0, 'Na': 1.0, 'Cr': 1.0, 'F': 6.0}
Name: Composition, Length: 94, dtype: object

In [4]:
# Check successful extraction of composition data
composition_list[0]

"{'Cr': 1.0, 'Ni': 3.0}"

In [5]:
# create dataframe with every column being a element
element_columns = ['H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'O', 'F', 'Ne', 'Na', 'Mg',
            'Al', 'Si', 'P', 'S', 'Cl', 'Ar', 'K', 'Ca', 'Sc', 'Ti', 'V', 'Cr',
            'Mn', 'Fe', 'Co', 'Ni', 'Cu', 'Zn', 'Ga', 'Ge', 'As', 'Se', 'Br',
            'Kr', 'Rb', 'Sr', 'Y', 'Zr', 'Nb', 'Mo', 'Tc', 'Ru', 'Rh', 'Pd', 'Ag',
            'Cd', 'In', 'Sn', 'Sb', 'Te', 'I', 'Xe', 'Cs', 'Ba', 'La', 'Ce', 'Pr', 'Nd', 'Pm', 'Sm', 'Eu', 'Gd', 'Tb', 'Dy', 'Ho', 'Er', 
            'Tm', 'Yb', 'Lu', 'Hf', 'Ta', 'W',
            'Re', 'Os', 'Ir', 'Pt', 'Au', 'Hg', 'Tl', 'Pb', 'Bi', 'Po', 'At', 'Rn',
            'Fr', 'Ra', 
            'Ac', 'Th', 'Pa', 'U', 'Np', 'Pu', 'Am', 'Cm', 'Bk', 
            'Cf', 'Es', 'Fm', 'Md', 'No', 'Lr']
composition_df = pd.DataFrame(columns=element_columns)
composition_df

Empty DataFrame
Columns: [H, He, Li, Be, B, C, N, O, F, Ne, Na, Mg, Al, Si, P, S, Cl, Ar, K, Ca, Sc, Ti, V, Cr, Mn, Fe, Co, Ni, Cu, Zn, Ga, Ge, As, Se, Br, Kr, Rb, Sr, Y, Zr, Nb, Mo, Tc, Ru, Rh, Pd, Ag, Cd, In, Sn, Sb, Te, I, Xe, Cs, Ba, La, Ce, Pr, Nd, Pm, Sm, Eu, Gd, Tb, Dy, Ho, Er, Tm, Yb, Lu, Hf, Ta, W, Re, Os, Ir, Pt, Au, Hg, Tl, Pb, Bi, Po, At, Rn, Fr, Ra, Ac, Th, Pa, U, Np, Pu, Am, Cm, Bk, Cf, Es, Fm, ...]
Index: []

[0 rows x 103 columns]

In [6]:
# Check use of eval to convert string to dictionary
composition_list_dict = eval(composition_list[0])

In [7]:
# loop over all data and apply eval to every row
for i in range(len(composition_list)):
    composition_list_dict[i] = eval(composition_list[i])

In [8]:
# for each row, append new dictionary into dataframe structure
for i in range(len(composition_list)):
    composition_df = composition_df.append(composition_list_dict[i],ignore_index=True)

    
composition_df

,H,He,Li,Be,B,C,N,O,F,Ne,...,Pu,Am,Cm,Bk,Cf,Es,Fm,Md,No,Lr
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Fill NaN with 0
composition_df = composition_df.fillna(0)
composition_df

,H,He,Li,Be,B,C,N,O,F,Ne,...,Pu,Am,Cm,Bk,Cf,Es,Fm,Md,No,Lr
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Pull list for mp_ids to add to final dataframe
mp_id_df = compounds_df['mp_id']
mp_id_df

0     mp-1007923
1       mp-12083
2       mp-12585
3        mp-1425
4       mp-15617
         ...
89     mp-554252
90    mp-1024999
91      mp-31624
92     mp-556264
93     mp-560936
Name: mp_id, Length: 94, dtype: object

In [11]:
# Add mp_id to the composition datagframe
composition_df["mp_id"] = mp_id_df
    
composition_df

,H,He,Li,Be,B,C,N,O,F,Ne,...,Am,Cm,Bk,Cf,Es,Fm,Md,No,Lr,mp_id
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-1007923
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-12083
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-12585
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-1425
4,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-15617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-554252
90,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-1024999
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-31624
92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-556264
93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mp-560936

In [12]:
# new column order
reorder_columns = ['mp_id', 'H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'O', 'F', 'Ne', 'Na', 'Mg',
            'Al', 'Si', 'P', 'S', 'Cl', 'Ar', 'K', 'Ca', 'Sc', 'Ti', 'V', 'Cr',
            'Mn', 'Fe', 'Co', 'Ni', 'Cu', 'Zn', 'Ga', 'Ge', 'As', 'Se', 'Br',
            'Kr', 'Rb', 'Sr', 'Y', 'Zr', 'Nb', 'Mo', 'Tc', 'Ru', 'Rh', 'Pd', 'Ag',
            'Cd', 'In', 'Sn', 'Sb', 'Te', 'I', 'Xe', 'Cs', 'Ba', 'La', 'Ce', 'Pr', 'Nd', 'Pm', 'Sm', 'Eu', 'Gd', 'Tb', 'Dy', 'Ho', 'Er', 
            'Tm', 'Yb', 'Lu', 'Hf', 'Ta', 'W',
            'Re', 'Os', 'Ir', 'Pt', 'Au', 'Hg', 'Tl', 'Pb', 'Bi', 'Po', 'At', 'Rn',
            'Fr', 'Ra', 
            'Ac', 'Th', 'Pa', 'U', 'Np', 'Pu', 'Am', 'Cm', 'Bk', 
            'Cf', 'Es', 'Fm', 'Md', 'No', 'Lr']

In [13]:
# recorder columns
composition_df = composition_df[reorder_columns]
composition_df

,mp_id,H,He,Li,Be,B,C,N,O,F,...,Pu,Am,Cm,Bk,Cf,Es,Fm,Md,No,Lr
0,mp-1007923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,mp-12083,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,mp-12585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,mp-1425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,mp-15617,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,mp-554252,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90,mp-1024999,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91,mp-31624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,mp-556264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,mp-560936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
compounds_properties_df = compounds_df.drop(["Composition", "Elastic_Tensor"], axis=1)
compounds_properties_df.head()

,mp_id,Formula,IPF,Density,E_above_Hull,G_VRH,K_VRH,Elastic_Anisotropy,poisson_ratio,Y_Modulus
0,mp-1007923,CrNi3,0.195062,8.618942,0.269450,105,222,0.82,0.29,270.90
1,mp-12083,CrIr3,0.162656,18.648439,0.000000,214,307,0.28,0.22,522.16
2,mp-12585,CrRh3,0.157080,10.845463,0.000000,151,230,0.38,0.23,371.46
3,mp-1425,TiCr2,0.236119,6.237410,0.076833,75,199,0.03,0.33,199.50
4,mp-15617,Cr5B3,0.247747,6.587366,0.000000,196,291,0.03,0.23,482.16

In [15]:
# write to csv for database integration
composition_df.to_csv(r'Output/Cr_compounds_composition.csv', index = False)
compounds_properties_df.to_csv(r'Output/Cr_compounds_properties.csv', index = False)